html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color:grey;
}
h1{
    font-size: 350%;
    text-align: center;
    color: snow;
}
h2{
    font-size: 95%;
    text-align: center;
    color: snow;
    margin-bottom: 32px;
}
a:hover{
    color: gray;
}
a{
    color: snow;
    text-decoration: none;
}
h3{
    float: left;
    display: block;
    font-family: sans-serif;
    color: snow;
    margin-top:2.5%;
    margin-left: 2.5%;
    padding: 0;
    width: 20%;
}
#bloque1{
    float: right;
    display: block;
    background-color:darkcyan;
    color: black;
    width: 72.5%;
    height: 25%;
    margin-right: 2.5%;
    margin-top: 0;
    padding: 0;
}
#bloque2{
    float: right;
    display: block;
    background-color:rgb(205, 205, 15);
    color: black;
    width: 72.5%;
    height: 25%;
    margin-right: 2.5%;
    margin-top: 0;
    padding: 0;
}
#bloque3{
    float: right;
    display: block;
    background-color:rgb(188, 129, 18);
    color: black;
    width: 72.5%;
    height: 25%;
    margin-right: 2.5%;
    margin-top: 0;
    padding: 0;
}
#bloque4{
    float: right;
    display: block;
    background-color:rgb(138, 2, 2);
    color: black;
    width: 72.5%;
    height: 25%;
    margin-right: 2.5%;
    margin-top: 0;
    padding: 0;
}
#Empleados{
    color: snow;
    display: inline-block;
}
#Centro{
    text-align: center;
}
#Pet{
    width: 256px;height: 256px;
}
#Pets{
    width: 128px;height: 128px;
}
#Inicio{
    background-color:rgb(42, 45, 49);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#contenedor{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#Colores1{
    font-family: sans-serif;
    padding: 0;
    margin-top: 1.5%;
    margin-left: 15%;
    margin-bottom: 0;
    margin-right: 0;
    color: white;
    width: 25%;
    height: 25%;
    font-weight: bolder;
    
}
#Colores2{
    font-family: sans-serif;
    padding: 0;
    margin-top: 0;
    margin-left: 15%;
    margin-bottom: 0;
    margin-right: 0;
    color: white;
    width: 25%;
    height: 25%;
    font-weight: bold;
}

/* Debería empezar a usar class en vez de solo style, para combinar las clases.