<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirimoya</title>
</head>
<body>
    <h2><a href="gatos.html">Volver a Gatos</a></h2>
    <div id="Centro">
        <img id="Pet" src="Img/Chirimoya.png" alt="">
        <p id="Perfil">
        Nombre: Chirimoya <br/>
        Edad: 3 años <br/>
        Género: Hembra <br/>
        Esterilizado: Si <br/>
        Nro. chip: 23333475 <br/>
        </p>
    </div>
        
    <link rel="stylesheet" href="style2.css">
</body>
</html>