<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul</title>
</head>
<body>
    <h2><a href="perros.html">Volver a perros</a></h2>
    <div id="Centro">
        <img id="Pet" src="Img/Paul.png" alt="">
        <p id="Perfil">
        Nombre: Paul <br/>
        Edad: 4 año <br/>
        Género: Macho <br/>
        Esterilizado: Si <br/>
        Nro. chip: 11485594 <br/>
        </p>
    </div>
        
    <link rel="stylesheet" href="style2.css">
</body>
</html>