<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelusa</title>
</head>
<body>
    <h2><a href="gatos.html">Volver a Gatos</a></h2>
    <div id="Centro">
        <img id="Pet" src="Img/Pelusa.png" alt="">
        <p id="Perfil">
        Nombre: Pelusa <br/>
        Edad: 6 Meses <br/>
        Género: Macho <br/>
        Esterilizado: No <br/>
        Nro. chip: 15556748 <br/>
        </p>
    </div>
        
    <link rel="stylesheet" href="style2.css">
</body>
</html>